body{
    margin: 0;
}
.top{
    height: 400px;
    display: flex;
    align-items: flex-start;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #11999e;
    margin-top: 50px;
}
.top h1{
    width: 100%;
    text-align: center;
    display: block;
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.top div{
    width: 300px;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.top p{
    font-weight: lighter;
    color: whitesmoke;
    font-size: 15px;
    line-height: 20px;
}

.top img{
    height: 100px;
    border-radius: 50%;
}