body{
    margin: 0;
}
.top{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 300px;
    padding: 50px;
    background-color: aquamarine;
    margin-top: 50px;
}
.name{
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: teal;
}
.top img{
    height: 500px;
    padding-right: 25px;
}

.middle{
    padding: 50px;
    width: 70%;
    margin: auto;
}
.middle h2{
    font-size: 2.5rem;
}
.middle p{
    font-size: 1.25rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 40px;
}
.middle span{
    font-size: 3rem;
    font-weight: bold;
    float: initial;
}

.bottom{
    display: flex;
    gap: 50px;
    padding: 50px;
    background-color: antiquewhite;
    margin-bottom: 50px;
}
.bottom img{
    height: 500px;
}
.bottom p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 30px;
    font-size: 1.1rem;
    margin-top: 20px;
}